<div class="ui raised card">
	<div class="image">
    <img src="<%= article.featured_image %>">
  </div>
  <div class="content">
    <div class="header"><%= article.title %></div>
    <div class="description">
      <p><%= article.headline %></p>
    </div>
  </div>
  <div class="extra content">
    <span class="left floated like">
      <% liked = current_user && @liked_ids.include?(article.id) ? 'liked' : '' %>
      <% icon_click = current_user ? "toggleLike(#{article.id})" : '' %>
      <i class="like icon <%= liked %>" id="article_icon_<%= article.id %>" onclick="toggleLike(<%= article.id %>)"></i>
      <% if liked == '' %>
        Like
      <% else %>
        Liked
      <% end %>
    </span>
  </div>
</div>
